<template name="requirement">
    <h1>{{projectName}}</h1> {{#each requirements}}
    <ul>
        <li>
            <a href="{{pathFor 'tasks' id=projectId task=_id}}">{{name}}</a>
        </li>
    </ul>
    {{/each}}



    <!--<h1>{{name}}</h1>
    <ul>
        {{#each tasks}}
        <li>
            <span>name: {{name}}</span> 
        </li>
        <li>
            <span>Description: {{description}}</span>
        </li>
        {{/each}}
    </ul>-->
</template>
<template name="tasks">
    <h1>{{projectName}}</h1> {{#each requirements}}
    <ul>
        <li>
             <a href="{{pathFor 'tasks' id=projectId task=_id}}">{{name}}</a>
        </li>
    </ul>
    {{/each}}
    <ul>
        {{#each tasks}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</template>